.navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    /* background-color: grey; */
}

.navBar > a {
    background-color: transparent;
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 15px;
}

.navBar > a.activeLink {
    font-size:20px;
    font-weight: bold;
}